
.simpleguestbook  {
  margin: 0px;
}

.simpleguestbook .wrapper{
  margin-left: 10px;
}

.simpleguestbook .content {
  margin-top: 15px;
  border: 1px solid #ccc;
}

.simpleguestbook .message {
  margin-bottom: 5px;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}
.simpleguestbook .date {
 float: right;
}
.simpleguestbook .edit {
 float: right;
 border: 1px dashed #ccc;
 font-weight:bold;
 padding: 2px;
}

.simpleguestbook .edit:hover {
 float: right;
 border: 1px solid #ccc;
 padding: 2px;
 font-weight:bold;
}

.simpleguestbook-showtitle {
 border: 1px dashed #ccc;
 padding: 5px;
}

dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 10em;
}

dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 14em;
}

dl.multiselect dt, dl.multiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0;
  margin: 0 1em 0 0;
}

#simpleguestbook-filter-form ul {
  padding-left:0;
  list-style-type: none;
  list-style-image: none;
}

#block-simpleguestbook-0 h2 {
  font-size: medium;

}
#block-simpleguestbook-0 .simpleguestbook-block-row {
  margin-top: 10px;
}

#block-simpleguestbook-0 .simpleguestbook-block-row .content {
  margin-left: 5px;
  background-color: #ccc;
  padding: 3px;
}

#block-simpleguestbook-0 .simpleguestbook-block-row .link {
  text-align : right;
}

#block-simpleguestbook-0 .simpleguestbook-block-row .title {
 border: 1px solid #ccc;
 padding: 2px;
}
